.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}
