#dataTables-example_filter{
  float:right !important;
}
.pay-fact-ico, .delete-fact-ico, .edit-fact-ico{
  font-size:23px;
  padding-left: 10px;
  text-align: center;
}

.pay-fact-ico{
  color:#27ae60;
  cursor: pointer;
}

.delete-fact-ico{
  color:#c0392b;
  cursor: pointer;
}

.edit-fact-ico{
  color:#34495e;
  cursor: pointer;
}

.td-fact-ico{
  text-align: center;
}

#actualizacion-factura-exitosa, #eliminar-factura-exitosa{
  display:none;
}

.footer-btn{
  padding:20px;
  margin-top: -5%;
  cursor:pointer;
}

.footer-btn > button{
  width: 150px;
  height: 40px;
}
.index-status{
  padding-bottom:65px;
  margin-top:-2%;
  margin-left: 1%;
}
.index-status div{
  padding:8px;
}

.badge-cargada,.badge-pagada,.badge-mercado-factoraje,.badge-pendiente{
  padding:6px;
}

.badge-pagada{
  background:#5cb85c;
}
.badge-cargada{
  background:#428bca;
}
.badge-mercado-factoraje{

}
.badge-pendiente{
  background:rgb(248,148,6);
}
.badge:empty {
  display:inline-block!important;
}
