#dataTables-example_filter{
  float:right !important;
}
.pay-fact-ico, .delete-fact-ico, .edit-fact-ico{
  font-size:23px;
  padding-left: 10px;
  text-align: center;
}

.pay-fact-ico{
  color:#27ae60;
  cursor: pointer;
}

.delete-fact-ico{
  color:#c0392b;
  cursor: pointer;
}

.edit-fact-ico{
  color:#34495e;
  cursor: pointer;
}

.td-fact-ico{
  text-align: center;
}

#actualizacion-factura-exitosa, #eliminar-factura-exitosa{
  display:none;
}

.index-status{
  padding-bottom:65px;
  margin-top:-2%;
  margin-left: 1%;
}

.index-status div{
  padding:8px;
}

.badge-denegado,.badge-autorizado,.badge-pendiente{
  padding:6px;
}

.badge-autorizado{
  background:#5cb85c;
}
.badge-pendiente{
  background:rgb(248,148,6);
}
.badge-denegado{
  background:#d9534f;
}
.badge:empty {
  display:inline-block!important;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
.footer-btn{
  padding:20px;
  margin-top: -5%;
  cursor:pointer;
}
.footer-btn > button{
  width: 150px;
  height: 40px;
}
#dataTables-example_filter{
  float:right !important;
}
.detalle-comprador{
  float:right;
}

